<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zx.dao.ApplyDao" >
  <resultMap id="BaseResultMap" type="com.zx.entity.Apply" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="insure_year" property="insureYear" jdbcType="INTEGER" />
    <result column="education_level" property="educationLevel" jdbcType="INTEGER" />
    <result column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="is_member" property="isMember" jdbcType="INTEGER" />
    <result column="member_id" property="memberId" jdbcType="INTEGER" />
    <result column="member_name" property="memberName" jdbcType="VARCHAR" />
    <result column="root_member_id" property="rootMemberId" jdbcType="INTEGER" />
    <result column="root_member_name" property="rootMemberName" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, phone, age, insure_year, education_level, customer_id, is_member, member_id, 
    member_name, state, update_time, create_time,root_member_id,root_member_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_apply
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from t_apply
    where 1=1
    <if test="query.rootMemberId != null" >
		and root_member_id = #{query.rootMemberId,jdbcType=INTEGER}
     </if>
    <if test="query.state != null and query.state != -1" >
		and state = #{query.state,jdbcType=INTEGER}
     </if>
     <if test="query.name != null" >
	and name like CONCAT('%',#{query.name,jdbcType=VARCHAR},'%' )
     </if>
     <if test="query.phone != null" >
	and phone like CONCAT('%',#{query.phone,jdbcType=VARCHAR},'%' )
     </if>
     order by create_time desc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_apply
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.zx.entity.Apply" >
    insert into t_apply (id, name, phone, 
      age, insure_year, education_level, 
      customer_id, is_member, member_id, 
      member_name,root_member_id,root_member_name, state, update_time, 
      create_time)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{age,jdbcType=INTEGER}, #{insureYear,jdbcType=INTEGER}, #{educationLevel,jdbcType=INTEGER}, 
      #{customerId,jdbcType=INTEGER}, #{isMember,jdbcType=INTEGER}, #{memberId,jdbcType=INTEGER}, 
      #{memberName,jdbcType=VARCHAR}, #{rootMemberId,jdbcType=INTEGER}, #{rootMemberName,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zx.entity.Apply" >
    update t_apply
    set name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      insure_year = #{insureYear,jdbcType=INTEGER},
      education_level = #{educationLevel,jdbcType=INTEGER},
      customer_id = #{customerId,jdbcType=INTEGER},
      is_member = #{isMember,jdbcType=INTEGER},
      member_id = #{memberId,jdbcType=INTEGER},
      member_name = #{memberName,jdbcType=VARCHAR},
      root_member_id = #{rootMemberId,jdbcType=INTEGER},
      root_member_name = #{rootMemberName,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateMemberStateByCustomerId" >
    update t_apply
    set
      is_member = 1,
      update_time = now()
    where customer_id = #{customerId,jdbcType=INTEGER}
  </update>
</mapper>